In [68]:
import pandas as pd
from scipy import stats
df = pd.read_csv('drug_safety.csv')

In [69]:
df = df.dropna()

just eliminated raws with nan value

In [70]:
df

       age   sex      trx  week  wbc  rbc adverse_effects  num_effects
0       62  male     Drug     0  7.3  5.1              No            0
2       62  male     Drug    12  5.6  5.0              No            0
4       62  male     Drug     2  6.6  5.1              No            0
6       62  male     Drug     4  6.9  5.2             Yes            1
7       62  male     Drug     8  7.1  5.0             Yes            1
...    ...   ...      ...   ...  ...  ...             ...          ...
16095   78  male  Placebo     0  7.2  5.0              No            0
16097   78  male  Placebo    12  6.5  4.9              No            0
16099   78  male  Placebo     2  7.5  4.9              No            0
16101   78  male  Placebo     4  6.4  4.8              No            0
16102   78  male  Placebo     8  7.8  4.8              No            0

[9127 rows x 8 columns]

In [71]:
df.to_csv('without_nan.csv')

In [72]:
age_mean = df['age'].mean()

In [73]:
age_mean

64.00766955187905

In [74]:
age_std = df['age'].std()

In [75]:
age_std

8.847711142073795

In [76]:
week_mean = df['week'].mean()

In [77]:
week_mean

4.985427851429824

In [78]:
week_std = df['week'].std()

In [79]:
week_std

4.375397191252761

In [80]:
wbc_mean = df['wbc'].mean()

In [81]:
wbc_mean

7.3403308946346

In [82]:
wbc_std = df['wbc'].std()

In [83]:
wbc_std

1.9966447939675274

In [84]:
rbc_mean = df['rbc'].mean()

In [85]:
rbc_mean

4.672784046011833

In [86]:
rbc_std = df['rbc'].std()

In [87]:
rbc_std

0.4585201587206342

In [126]:
trx_obj = df.groupby(df['trx'])

In [127]:
summary = trx_obj[['wbc', 'rbc', 'num_effects']].describe()

In [128]:
summary

            wbc                                                         rbc  \
          count      mean       std  min  25%   50%  75%        max   count
trx
Drug     6011.0  7.330461  2.008941  1.8  6.0  7.00  8.4  26.500000  6011.0
Placebo  3116.0  7.359371  1.972890  3.0  6.0  7.15  8.4  23.799999  3116.0

                   ...           num_effects                                \
             mean  ...  75%  max       count      mean       std  min  25%
trx                ...
Drug     4.679130  ...  5.0  7.5      6011.0  0.102479  0.325529  0.0  0.0
Placebo  4.660542  ...  5.0  7.6      3116.0  0.097561  0.315639  0.0  0.0


         50%  75%  max
trx
Drug     0.0  0.0  3.0
Placebo  0.0  0.0  3.0

[2 rows x 24 columns]

In [91]:
df['adverse_effects'].replace('No', 0, inplace=True)

In [92]:
df['adverse_effects'].replace('Yes', 1, inplace=True)

In [93]:
trx_obj = df.groupby(df['trx'])

In [94]:
m_wbc = trx_obj['wbc'].mean()
s_wbc = trx_obj['wbc'].std()

In [120]:
s_wbc

trx
Drug       2.008941
Placebo    1.972890
Name: wbc, dtype: float64

In [122]:
m_rbc = trx_obj['rbc'].mean()
s_rbc = trx_obj['rbc'].std()

In [123]:
s_rbc

trx
Drug       0.454990
Placebo    0.465083
Name: rbc, dtype: float64

In [96]:
m_num_eff = trx_obj['num_effects'].mean()
s_num_eff = trx_obj['num_effects'].std()

In [124]:
s_num_eff

trx
Drug       0.325529
Placebo    0.315639
Name: num_effects, dtype: float64

In [97]:
m_adv_eff = trx_obj['adverse_effects'].mean()
s_adv_eff = trx_obj['adverse_effects'].std()

In [125]:
s_adv_eff

trx
Drug       0.294603
Placebo    0.289221
Name: adverse_effects, dtype: float64

t−Score=(m1-m2)/(s1^2/n1+s2^2/n2)^1/2

df=n1+n2−2

In [98]:
drug_group = df[df['trx'] == 'Drug']
placebo_group = df[df['trx'] == 'Placebo']

a function for performing t_test,, H0 = there is no significant difference.     H1 = there is a significant difference

-------------------

the alternative argument decides about our comparison to be one_sided or two_sided,, in case of evaluating the difference, leave it as default means two_sided.
the equal_var specifies if the two groups have the same variance or not, as seen above the variance differs in 'wbc' metric and is almost the same for other metrics, so by setting it to false we are assuming they are different for a more reliable outcome.

In [101]:
def t_test(metric, alpha):
    t_stat, p_value = stats.ttest_ind(drug_group[metric], placebo_group[metric], equal_var=False)
    
    if p_value < alpha:
        print("There is a significant difference.")
    else:
        print("There is no significant difference.")
    
    return p_value

df['adverse_effects_numeric'] = df['adverse_effects'].map({'Yes': 1, 'No': 0})
I could also use syntax above instead of replace() method

In [102]:
p_value_wbc = t_test('wbc', 0.05)

There is no significant difference.

In [103]:
p_value_wbc

0.5094775322580585

In [104]:
p_value_rbc = t_test('rbc', 0.05)

There is no significant difference.

In [105]:
p_value_rbc

0.06821193346979416

In [106]:
p_value_num_effects = t_test('num_effects', 0.05)

There is no significant difference.

In [107]:
p_value_num_effects

0.48503538645811195

In [108]:
p_value_adverse_effects = t_test('adverse_effects', 0.05)

There is no significant difference.

In [109]:
p_value_adverse_effects

0.54539110892564

now changing alpha to 0.1

In [110]:
p_value_wbc = t_test('wbc', 0.1)

There is no significant difference.

In [111]:
p_value_wbc

0.5094775322580585

In [114]:
p_value_rbc = t_test('rbc', 0.1)

There is a significant difference.

In [113]:
p_value_rbc

0.06821193346979416

In [115]:
p_value_num_effects = t_test('num_effects', 0.1)

There is no significant difference.

In [116]:
p_value_num_effects

0.48503538645811195

In [117]:
p_value_adverse_effects = t_test('adverse_effects', 0.1)

There is no significant difference.

In [118]:
p_value_adverse_effects

0.54539110892564

by changing alpha we observe just 'rbc' metric differs from drug group to placebo group.